
.menu-item a{
        margin-right: 20px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: black;
}
.menu-item a:hover{
    text-decoration: 3px solid black underline;
    color:black
} 
   
.menu-item button{

}