.package-container{
    background-color: aliceblue;
    padding: 15px;
    border-radius: 10px;
}
.package-container:hover{
    box-shadow:1px 1px 8px black ;
}

.package-container img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.info{
    margin-top: 20px;
    color: rgb(100, 25, 12);
}

.info button{
   
    border: none;
    background-color:tomato;
    padding:5px 16px;
    border-radius: 5px;
    color:wheat;
    font-size: 18px;
    font-weight: 600;

}