.home-packages{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.spinner{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.hed{
    color: tomato;
    background-color: aliceblue;
}
.transport{
    cursor: pointer;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
.transport a{
    text-decoration: none;
    color: black;
}